/* get rid of bullet points on the navbar*/
.nav-item { 
    list-style: none;
    
}
#jumbotron {
background-color: #fff;
}

/*#banner {
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    
}*/






