/* get rid of bullet points on the navbar*/
.nav-item { 
    list-style: none;
    
}
#jumbotron {
background-color: #fff;
}

#banner {
    background-image: url('images/pokemon_banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; /* Set a fixed height for the banner */
}




